#s-48ebad06-559e-429e-b749-b72536d23752 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Table_1 {
  border-collapse: separate;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Table_2 {
  border-collapse: separate;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-48ebad06-559e-429e-b749-b72536d23752 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}