#s-48ebad06-559e-429e-b749-b72536d23752 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48ebad06-559e-429e-b749-b72536d23752 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}