#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-601b45f0-3f2a-4d19-b2bb-915ff188d573 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}