#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}