#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 #s-Table_2 {
  border-collapse: separate;
}
#s-6daefb01-d64b-4a7c-a707-3184c4e46ab9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}