#s-d1011463-b975-494a-9517-7c56121be9af > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d1011463-b975-494a-9517-7c56121be9af > #alignmentBox {
  position: relative;
  max-width: 1128px;
  max-height: 768px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_4 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_5 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_6 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_25 span#rtr-s-Text_25_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #6ACA25;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 {
  position: absolute;
  width: 160px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 > .paddingLayer {
  height: 67px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.000001pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 {
  position: absolute;
  width: 160px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 > .paddingLayer {
  height: 67px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.000001pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.000001pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_26 span#rtr-s-Text_26_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_27 span#rtr-s-Text_27_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 {
  position: absolute;
  width: 293px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 67px;
  font-size: 35.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 > .paddingLayer {
  height: 77px;
  width: 293px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Image_2 {
  position: absolute;
  width: 667px;
  height: 377px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Image_2 > img, #s-d1011463-b975-494a-9517-7c56121be9af #s-Image_2 > svg {
  height: 375px;
  width: 665px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #3573D3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3573D3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3573D3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3573D3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3573D3;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 {
  position: absolute;
  width: 105px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 > .paddingLayer {
  height: 38px;
  width: 103px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 {
  position: absolute;
  width: 105px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 > .paddingLayer {
  height: 38px;
  width: 103px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 {
  position: absolute;
  width: 105px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 > .paddingLayer {
  height: 38px;
  width: 103px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_8 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_29 span#rtr-s-Text_29_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #3573D3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3573D3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3573D3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3573D3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3573D3;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 {
  position: absolute;
  width: 344px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 > .paddingLayer {
  height: 41px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Panel_1 {
  width: 667px;
  height: 202px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Panel_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Panel_1 > .layoutWrapper {
  left: 1px;
  top: 1px;
  width: 665px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Group_1 {
  position: absolute;
  width: 259px;
  height: 30px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 {
  position: absolute;
  width: 130px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 > .paddingLayer {
  height: 30px;
  width: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3573D3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 {
  position: absolute;
  width: 130px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 > .paddingLayer {
  height: 30px;
  width: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Table_1 {
  position: absolute;
  width: 666px;
  height: 67px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_1 {
  width: 66px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_4 {
  width: 58px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_7 {
  width: 51px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_10 {
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_13 {
  width: 78px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_16 {
  width: 70px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_3 {
  width: 84px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_9 {
  width: 74px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_2 {
  width: 67px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_5 {
  width: 59px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_8 {
  width: 52px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_11 {
  width: 81px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_14 {
  width: 79px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_17 {
  width: 71px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_6 {
  width: 85px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_12 {
  width: 75px;
  height: 31px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_12 span {
  color: #65A34C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #65A34C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Image_60 > svg {
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Image_60 {
  position: absolute;
  width: 50px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Image_60 > img, #s-d1011463-b975-494a-9517-7c56121be9af #s-Image_60 > svg {
  height: 43px;
  width: 50px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 {
  position: absolute;
  width: 28px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 > .paddingLayer {
  height: 30px;
  width: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Input_9 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 > .clipping, #s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d1011463-b975-494a-9517-7c56121be9af #s-Text_30 span#rtr-s-Text_30_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1011463-b975-494a-9517-7c56121be9af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}